body{
    background-color: rgb(116, 201, 238) !important;
}

h1 {
    padding-left: 15px;
    padding-top: 10px;
    margin: 0;
    padding-bottom: 0px;
}

#prep {
    font-size: 100px;
}

#temperature {
    font-size: 100px;
    position: relative;
    left: -42px;
}

#celsius-link {
    text-decoration: none;
    font-size: 30px;
    position: relative;
    top: -48px;
    left: -56px;
    color: black;
}

#celsius-link:hover {
    color: blue;
}

#fahrenheit-link {
    text-decoration: none;
    font-size: 30px;
    position: relative;
    top: -48px;
    left: -56px;
    color: black;
}

#fahrenheit-link:hover {
    color: blue;
}

.timeprecipitation {
    padding-left: 30px;
    margin: 0;
    list-style: none;
    padding-top: 0px;
}

#city-search {
    position: absolute;
    top: 0;
    left: 1132px;
    padding-top: 40px;
}

#city {
    position: absolute;
    top: 70px;
    left: 1132px;
}

.weather-properties {
    position: absolute;
    top: 104px;
    left: 1100px;
    list-style: none;
}

.row {
    position: relative;
    top: 200px;
    left: 0;
    padding: 40px;
    column-gap: 20px;
}

.col {
    padding-bottom: 20px;
}

.prop {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 45px;
}

.prop:hover {
    cursor: pointer;
    background-color: rgb(205, 237, 253);
}

.day {
    font-weight: bold;
}

.source-code {
    position: absolute;
    top: 650px;
    left: 630px;
}