.weather-app {
    max-width: 550px;
    margin: 30px auto;
    padding: 20px 20px;
    background-color: rgb(116, 201, 238) !important;
    border-radius: 30px;
    border: 1px solid black;
}

#prep {
    font-size: 50px;
}

#temperature {
    font-size: 50px;
    position: relative;
    left: -20px;
    top: 2px;
}

#celsius-link {
    text-decoration: none;
    font-size: 25px;
    position: relative;
    top: -14px;
    left: -32px;
    color: black;
}

#celsius-link:hover {
    color: blue;
}

#fahrenheit-link {
    text-decoration: none;
    font-size: 25px;
    position: relative;
    top: -14px;
    left: -32px;
    color: black;
}

#fahrenheit-link:hover {
    color: blue;
}

.timeprecipitation {
    padding-left: 12px;
    margin: 0;
    list-style: none;
    padding-top: 0px;
    font-size: 12px;
}

#city-search {
    position: relative;
    top: -90px;
    left: 300px;
    padding-top: 0px;
    font-size: 13px;
}

#city {
    position: relative;
    top: -90px;
    left: 300px;
}

.weather-properties {
    position: relative;
    top: -100px;
    left: 270px;
    list-style: none;
    font-size: 12px;
}

.row {
    position: relative;
    top: -60px;
    left: 0;
    padding: 0px;
    column-gap: 2px;
    font-size: 12px;
}

.col {
    padding-bottom: 20px;
}

.prop {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding-top: 45px;
}

.prop:hover {
    cursor: pointer;
    background-color: rgb(205, 237, 253);
}

.day {
    font-weight: bold;
}

.source-code-main {
    position: relative;
    top: -40px;
}

.source-code {
    text-align:center;
    font-size: 12px;
}